<template>
  <div class="interface">
    <Desktop />
  </div>
</template>

<script>
import Desktop from '~/components/Interface/Desktop';

export default {
  components: {
    Desktop
  },

  // detect interface type
}
</script>