<template>
  <div class="sample">
    <div class="sample__top">top</div>
    <div class="sample__top-left">top-left</div>
    <div class="sample__top-right">top-right</div>
    <div class="sample__right">right</div>
    <div class="sample__center">center</div>
    <div class="sample__bottom">bottom</div>
    <div class="sample__bottom-left">bottom-left</div>
    <div class="sample__bottom-right">bottom-right</div>
    <div class="sample__left">left</div>
  </div>
</template>

<style lang="scss">
  .sample__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .sample__top-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  .sample__top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .sample__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .sample__center {
    position: absolute;
    top: 50%;
    right: 50%;
  }
  .sample__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .sample__bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .sample__bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .sample__left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
</style>