<template>	
	<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M6.33333 17H2.77778C2.30628 17 1.8541 16.8127 1.5207 16.4793C1.1873 16.1459 1 15.6937 1 15.2222V2.77778C1 2.30628 1.1873 1.8541 1.5207 1.5207C1.8541 1.1873 2.30628 1 2.77778 1H6.33333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	<path d="M12.5555 13.4446L17 9.00011L12.5555 4.55566" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	<path d="M17 9H6.33331" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</template>
