<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M8.63666 15.9798C8.90156 16.0577 9.17952 15.9062 9.2575 15.6413L9.89596 13.4723C10.9584 13.7315 12.042 13.7315 13.1044 13.4723L13.7426 15.6413C13.8206 15.9062 14.0985 16.0577 14.3634 15.9798C14.6283 15.9018 14.7799 15.6239 14.702 15.359L14.0572 13.1676C14.9532 12.8118 15.8176 12.2684 16.628 11.545L18.1305 13.1936C18.3165 13.3977 18.6328 13.4123 18.8369 13.2263C19.041 13.0403 19.0556 12.7241 18.8696 12.52L17.3428 10.8447C17.9035 10.2444 18.4331 9.55058 18.9241 8.76511C19.0704 8.53094 18.9992 8.22247 18.7651 8.07611C18.5309 7.92976 18.2224 8.00095 18.0761 8.23511C17.525 9.11679 16.9294 9.86308 16.3054 10.477C15.3481 11.4188 14.3255 12.0477 13.2912 12.3809C12.108 12.762 10.8924 12.762 9.70923 12.3809C8.67492 12.0477 7.65232 11.4188 6.69496 10.477C6.07083 9.86302 5.47511 9.11679 4.92407 8.23511C4.77771 8.00095 4.46924 7.92976 4.23507 8.07611C4.0009 8.22247 3.92971 8.53094 4.07607 8.76511C4.56703 9.55066 5.0968 10.2444 5.65749 10.8447L4.13054 12.52C3.94452 12.7241 3.95916 13.0403 4.16325 13.2263C4.36733 13.4123 4.68358 13.3977 4.8696 13.1936L6.37233 11.5449C7.18276 12.2684 8.04718 12.8118 8.94322 13.1676L8.29819 15.3589C8.22022 15.6238 8.37175 15.9018 8.63666 15.9798Z" fill="#262F56"/>
	</svg>

</template>
