<template>
	<svg width="24" height="24" id="Layer_1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="12" cy="7" r="4" fill="#FFFFFF"/>
		<path  d="M20 18.019C20 20.7908 15.9274 19.844 12 19.844C8.07264 19.844 4 20.7908 4 18.019C4 15.2471 8.07264 13 12 13C15.9274 13 20 15.2471 20 18.019Z" fill="#FFFFFF"/>
	</svg>


</template>
