<template>
	<svg width="24" height="24" id="Layer_1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path style="fill:#FFFFFF;" fill-rule="evenodd" clip-rule="evenodd" d="M12 3C9.41007 3 7.31053 5.09955 7.31053 7.68948V9.80898C6.55322 9.83522 6.05396 9.90979 5.63803 10.1217C5.07354 10.4093 4.6146 10.8683 4.32698 11.4328C4 12.0745 4 12.9146 4 14.5947V15.9421C4 17.6223 4 18.4623 4.32698 19.1041C4.6146 19.6686 5.07354 20.1275 5.63803 20.4151C6.27976 20.7421 7.11984 20.7421 8.8 20.7421H15.2C16.8802 20.7421 17.7202 20.7421 18.362 20.4151C18.9265 20.1275 19.3854 19.6686 19.673 19.1041C20 18.4623 20 17.6223 20 15.9421V14.5947C20 12.9146 20 12.0745 19.673 11.4328C19.3854 10.8683 18.9265 10.4093 18.362 10.1217C17.946 9.90979 17.4468 9.83522 16.6895 9.80898V7.68947C16.6895 5.09955 14.5899 3 12 3ZM14.8895 9.79474V7.68947C14.8895 6.09366 13.5958 4.8 12 4.8C10.4042 4.8 9.11053 6.09366 9.11053 7.68948V9.79474H14.8895ZM12.8421 15.8853C13.3455 15.5941 13.6842 15.0498 13.6842 14.4264C13.6842 13.4962 12.9302 12.7422 12 12.7422C11.0698 12.7422 10.3158 13.4962 10.3158 14.4264C10.3158 15.0498 10.6545 15.594 11.1579 15.8853V17.3737C11.1579 17.8388 11.5349 18.2158 12 18.2158C12.4651 18.2158 12.8421 17.8388 12.8421 17.3737V15.8853Z" fill="#262F56"/>
</svg>

</template>
