<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="12" cy="12.1764" r="2.82351" fill="#262F56"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M4.04337 12.3738C4.05506 12.3992 4.06904 12.4236 4.08527 12.4467C6.23919 15.6727 9.08751 17.3529 12 17.3529C14.9125 17.3529 17.7608 15.6727 19.9147 12.4467C19.9706 12.3671 19.9999 12.2723 20 12.1764C20.0001 12.11 19.9861 12.043 19.9571 11.9801C19.9453 11.9543 19.9312 11.9296 19.9147 11.9061C17.7608 8.68021 14.9125 7 12 7C9.08751 7 6.23919 8.68021 4.08527 11.9061C4.06905 11.9293 4.05506 11.9537 4.04337 11.9791C3.98425 12.1066 3.98684 12.2512 4.04337 12.3738ZM5.04028 12.1764C7.0407 9.31178 9.55066 7.94117 12 7.94117C14.4493 7.94117 16.9593 9.31177 18.9597 12.1764C16.9593 15.0411 14.4493 16.4117 12 16.4117C9.55066 16.4117 7.0407 15.0411 5.04028 12.1764Z" fill="#262F56"/>
	</svg>


</template>
