<template>
  <div class="desktop">
    <div class="desktop__top"></div>
    <div class="desktop__top-left"></div>
    <div class="desktop__top-right"></div>
    <div class="desktop__right"></div>
    <div class="desktop__center"></div>
    <div class="desktop__bottom"></div>
    <div class="desktop__bottom-left"></div>
    <div class="desktop__bottom-right">
      <Clock/>
    </div>
    <div class="desktop__left"></div>
  </div>
</template>

<script>
  import Clock from '~/components/Interface/Desktop/controls/Clock'

  export default {
    components: {
      Clock
    },

    created() {
      this.$nuxt.$on('Interface-showDigitalAndAnalogClock', this.showDigitalAndAnalogClock);
      this.$nuxt.$on('Interface-hideDigitalAndAnalogClock', this.hideDigitalAndAnalogClock);
    },

    methods: {
      showDigitalAndAnalogClock() {
        this.$nuxt.$emit('Map-addClocks');
        this.$nuxt.$emit('Interface-showDigitalClock');
      },

      hideDigitalAndAnalogClock() {
        this.$nuxt.$emit('Map-removeClocks');
        this.$nuxt.$emit('Interface-hideDigitalClock');
      }
    },

    beforeDestroy() {
      this.$nuxt.$off('Interface-showDigitalAndAnalogClock');
      this.$nuxt.$off('Interface-hideDigitalAndAnalogClock');
    },

  }
</script>

<style lang="scss">
.desktop {
  .desktop__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .desktop__top-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  .desktop__top-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .desktop__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .desktop__center {
    position: absolute;
    top: 50%;
    right: 50%;
  }
  .desktop__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .desktop__bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .desktop__bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .desktop__left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
</style>