<template>
  <div class="app">
    <Map class="app__map"/>
    <Interface class="app__interface"/>
  </div>
</template>

<script>
import Map from '~/components/Map';
import Interface from '~/components/Interface';
import moment from 'moment';

export default {
  components: {
    Map,
    Interface
  },

  beforeMount() {
    if (!localStorage.getItem('token') || !localStorage.getItem('expire')) {
      this.$router.push('/login');
    }
    const expire = moment(localStorage.getItem('expire'));
    const now = moment();
    if (now > expire) {
      this.$router.push('/login');
    }
    this.$store.commit('user/SET_TOKEN', localStorage.getItem('token'));
  },
}
</script>

<style lang="scss">
  .app {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .app__map {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .app__interface {
    z-index: 1;
  }
</style>
