@font-face {
  font-family: Bebas Neue;
  src: url('~assets/fonts/bebas/BebasNeueBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Bebas Neue;
  src: url('~assets/fonts/bebas/BebasNeueBook.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Bebas Neue;
  src: url('~assets/fonts/bebas/BebasNeueLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Bebas Neue;
  src: url('~assets/fonts/bebas/BebasNeueRegular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Bebas Neue;
  src: url('~assets/fonts/bebas/BebasNeueThin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Etelka Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaMediumPro.eot');
  src: local('Etelka Medium Pro'), local('EtelkaMediumPro'),
    url('~assets/fonts/Etelka/EtelkaMediumPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMediumPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMediumPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaMediumPro-Bold.eot');
  src: local('Etelka Medium Pro Bold'), local('EtelkaMediumPro-Bold'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Narrow Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowMediumPro.eot');
  src: local('Etelka Narrow Medium Pro'), local('EtelkaNarrowMediumPro'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaMediumPro-BoldItalic.eot');
  src: local('Etelka Medium Pro Bold Italic'), local('EtelkaMediumPro-BoldItalic'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-BoldItalic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-BoldItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Wide Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideTextPro.eot');
  src: local('Etelka Wide Text Pro'), local('EtelkaWideTextPro'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Wide Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideTextPro-BoldItalic.eot');
  src: local('Etelka Wide Text Pro Bold Italic'), local('EtelkaWideTextPro-BoldItalic'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-BoldItalic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Wide Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideMediumPro.eot');
  src: local('Etelka Wide Medium Pro'), local('EtelkaWideMediumPro'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Narrow Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Italic.eot');
  src: local('Etelka Narrow Medium Pro Italic'), local('EtelkaNarrowMediumPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Monospace Pro';
  src: url('~assets/fonts/Etelka/EtelkaMonospacePro-Bold.eot');
  src: local('Etelka Monospace Pro Bold'), local('EtelkaMonospacePro-Bold'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Wide Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideTextPro-Bold.eot');
  src: local('Etelka Wide Text Pro Bold'), local('EtelkaWideTextPro-Bold'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Narrow Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowTextPro-BoldItalic.eot');
  src: local('Etelka Narrow Text Pro Bold Italic'), local('EtelkaNarrowTextPro-BoldItalic'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-BoldItalic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Monospace Pro';
  src: url('~assets/fonts/Etelka/EtelkaMonospacePro-Italic.eot');
  src: local('Etelka Monospace Pro Italic'), local('EtelkaMonospacePro-Italic'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Narrow Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Bold.eot');
  src: local('Etelka Narrow Text Pro Bold'), local('EtelkaNarrowTextPro-Bold'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Narrow Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Italic.eot');
  src: local('Etelka Narrow Text Pro Italic'), local('EtelkaNarrowTextPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Narrow Light Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowLightPro.eot');
  src: local('Etelka Narrow Light Pro'), local('EtelkaNarrowLightPro'),
    url('~assets/fonts/Etelka/EtelkaNarrowLightPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowLightPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowLightPro.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaTextPro-Italic.eot');
  src: local('Etelka Text Pro Italic'), local('EtelkaTextPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaTextPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaTextPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaTextPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Narrow Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Bold.eot');
  src: local('Etelka Narrow Medium Pro Bold'), local('EtelkaNarrowMediumPro-Bold'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Light Pro';
  src: url('~assets/fonts/Etelka/EtelkaLightPro.eot');
  src: local('Etelka Light Pro'), local('EtelkaLightPro'),
    url('~assets/fonts/Etelka/EtelkaLightPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaLightPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaLightPro.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaMediumPro-Italic.eot');
  src: local('Etelka Medium Pro Italic'), local('EtelkaMediumPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMediumPro-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Wide Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideMediumPro-BoldItalic.eot');
  src: local('Etelka Wide Medium Pro Bold Italic'), local('EtelkaWideMediumPro-BoldItalic'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-BoldItalic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-BoldItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Wide Light Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideLightPro-Italic.eot');
  src: local('Etelka Wide Light Pro Italic'), local('EtelkaWideLightPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaWideLightPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideLightPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideLightPro-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Wide Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideMediumPro-Italic.eot');
  src: local('Etelka Wide Medium Pro Italic'), local('EtelkaWideMediumPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Monospace Pro';
  src: url('~assets/fonts/Etelka/EtelkaMonospacePro.eot');
  src: local('Etelka Monospace Pro'), local('EtelkaMonospacePro'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Wide Light Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideLightPro.eot');
  src: local('Etelka Wide Light Pro'), local('EtelkaWideLightPro'),
    url('~assets/fonts/Etelka/EtelkaWideLightPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideLightPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideLightPro.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaTextPro-Bold.eot');
  src: local('Etelka Text Pro Bold'), local('EtelkaTextPro-Bold'),
    url('~assets/fonts/Etelka/EtelkaTextPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaTextPro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaTextPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaTextPro-BoldItalic.eot');
  src: local('Etelka Text Pro Bold Italic'), local('EtelkaTextPro-BoldItalic'),
    url('~assets/fonts/Etelka/EtelkaTextPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaTextPro-BoldItalic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaTextPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Wide Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideMediumPro-Bold.eot');
  src: local('Etelka Wide Medium Pro Bold'), local('EtelkaWideMediumPro-Bold'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-Bold.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideMediumPro-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Narrow Medium Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-BoldItali.eot');
  src: local('Etelka Narrow Medium Pro Bold Italic'), local('EtelkaNarrowMediumPro-BoldItali'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-BoldItali.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-BoldItali.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowMediumPro-BoldItali.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Monospace Pro';
  src: url('~assets/fonts/Etelka/EtelkaMonospacePro-BoldItalic.eot');
  src: local('Etelka Monospace Pro Bold Italic'), local('EtelkaMonospacePro-BoldItalic'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-BoldItalic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaMonospacePro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Narrow Light Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowLightPro-Italic.eot');
  src: local('Etelka Narrow Light Pro Italic'), local('EtelkaNarrowLightPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaNarrowLightPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowLightPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowLightPro-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Narrow Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaNarrowTextPro.eot');
  src: local('Etelka Narrow Text Pro'), local('EtelkaNarrowTextPro'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaNarrowTextPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Light Pro';
  src: url('~assets/fonts/Etelka/EtelkaLightPro-Italic.eot');
  src: local('Etelka Light Pro Italic'), local('EtelkaLightPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaLightPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaLightPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaLightPro-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Etelka Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaTextPro.eot');
  src: local('Etelka Text Pro'), local('EtelkaTextPro'),
    url('~assets/fonts/Etelka/EtelkaTextPro.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaTextPro.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaTextPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Etelka Wide Text Pro';
  src: url('~assets/fonts/Etelka/EtelkaWideTextPro-Italic.eot');
  src: local('Etelka Wide Text Pro Italic'), local('EtelkaWideTextPro-Italic'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-Italic.woff') format('woff'),
    url('~assets/fonts/Etelka/EtelkaWideTextPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}