@import 'font';
@import 'variables';
@import 'helper';
@import 'mapbox-modification';
@import 'tula';
@import 'desktop/index';

html {
  overflow: hidden !important;
}

#app {
  font-family: Etelka Medium Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}