$background-color: #E5E5E5;
$primary-color: #363B4C;
$primary2-color: #31343E;
$white-color: #FFFFFF;
$inactive-color: #ECEEF0;
$green-color: #07AC74;
$flash_green-color: #046645;
$yellow-color: #FEC056;
$red-color: #DC4040;
$flash_yellow-color: #F2802D;
$hover-color: #3D4356;
$second-color: #86919F;
$accent-color: #10799F;
$accent2-color: #4BB97D;

$brand-blue-background: #323B6C;
$brand-blue-header1: #202854;
$brand-blue-header2: #283161;
$brand-blue-hover: #5C6392;

$digitalClock-fontColor: #fafbff;
$digitalClock-fontShadowColor: #536ea1;