<template>
  <mapbox
    access-token="pk.eyJ1IjoiZGltYWhraWluIiwiYSI6ImNqZmNqYWV3bjJxM2IzNG52M3cwNG9sbTEifQ.hBZWN6asfRuTVSKV6Ut1Bw"
    :map-options="{
      style: 'mapbox://styles/dimahkiin/ck4cdgi7h0u7b1colbr1y3sbk',
      center: defaultPos.center,
      zoom: defaultPos.zoom,
      pitch: defaultPos.pitch,
      bearing: defaultPos.bearing,
      attributionControl: false,
      logoPosition: 'top-right'
    }"
    :nav-control="{
      'show-zoom': false,
    }"
    @map-load="mapLoaded"
  />
</template>

<script>
import Mapbox from 'mapbox-gl-vue';
import 'mapbox-gl/dist/mapbox-gl.css';
import {clocks} from './layers/clocks';

export default {
  components: {
    Mapbox
  },

  mixins: [
    clocks
  ],

  computed: {
    defaultPos () {
      return this.$store.state.user.defaultPos;
    }
  },

  created() {
    this.$nuxt.$on('Map-addClocks', this.addClocks);
    this.$nuxt.$on('Map-removeClocks', this.removeClocks);
  },

  methods: {
    mapLoaded(map) {
      const mapboxgl = require('mapbox-gl');
      this.map = map;
      this.map.addControl(new mapboxgl.AttributionControl(), 'top-right');
      this.$nuxt.$emit('Interface-showDigitalAndAnalogClock');
    }
  },

  beforeDestroy() {
    this.$nuxt.$off('Map-addClocks', this.addClocks);
    this.$nuxt.$off('Map-removeClocks', this.removeClocks);
  },
}
</script>

<style lang="scss">
  #map {
    height: 100%;
  }
</style>
