<template>
    <div class="login2">
    <div class="login2__background"
      :style="{
        'background-image': 'url(' + src + ')'
      }"
    />

      <div class="login2__block">
          <div class="login2__block_had">
              <div class="login2__text ">
                ИТС г. Тулы
              </div>
          </div>

          <div class="login2__content ">

              <div class="login2__content__blockInp" style="padding-top: 20px;">
                  <div class="login2__content_text_name">
                      Логин
                  </div>
                  <div class="login2__content_text ">
                      <input
                        class="login2__content_text_input"
                        @keypress="loginKeypress"
                        type="text"
                        placeholder=""
                        v-model="uname"
                        autocomplete="off"
                        required>
                  </div>
                  <div class="login2__iconLogin">
                      <LoginAsuddIcon/>
                  </div>
              </div>

              <div class="login2__content__blockInp" style="padding-top: 8px;">
                  <div class="login2__content_text_name">
                      Пароль
                  </div>
                  <div class="login2__content_text ">
                      <input
                        class="login2__content_text_input"
                        :type="showPass?'text':'password'"
                        @keypress="passwordKeypress"
                        placeholder=""
                        v-model="password"
                        autocomplete="off"
                        required>
                        <div
                          class="ShowPButton"
                          @click="ShowPassw()"
                          >
                          <HidePassIcon  v-if="!showPass"/>
                          <ShowPassIcon  v-if="showPass" />
                        </div>
                  </div>
                  <div class="login2__iconLogin">
                      <PasswAsuddIcon/>
                  </div>
              </div>

            <div v-if="errorSubmit === false" class="login2__content_textErr " style="font-size: 14px;color: #ff2f39;">
              {{ errormsg }}
            </div>
            <div style="text-align:right; margin: 0 69px 0px 0px; padding: 26px 0px 31px;">
                <!-- <input type="submit" @click="authorize" class="login2__content_text_submit tula-v-0-2-ui-button-accent-2" value="Войти"> -->
                <button
                @click="authorize"
                class="login2__content_text_submit tula-v-0-2-ui-button-accent-2"
                >Войти</button>
            </div>
          </div>

      </div>




    </div>
</template>

<script>
import AsuddIcon from '~/components/svg/ExitIcon';
import LoginAsuddIcon from '~/components/svg/LoginAsudd_icon';
import PasswAsuddIcon from '~/components/svg/PasswAsudd_icon';
import HidePassIcon from '~/components/svg/Hide_pass_icon';
import ShowPassIcon from '~/components/svg/Show_pass_icon';
import { mapActions } from 'vuex';

export default {
  data(){
    return {
        uname: '',
        password: '',
        errorSubmit: true,
        errormsg: null,
        src: null,
        showPass: false,
    }
  },
  components:{
      AsuddIcon,
      LoginAsuddIcon,
      PasswAsuddIcon,
      HidePassIcon,
      ShowPassIcon
  },
  mounted() {
    let pos;
    try {
      pos = JSON.parse(localStorage.getItem('pos'));
    }
    catch {
      pos = null;
    }
    if (!pos) {
      pos = this.defaultPos;
    }
    const usernameMapbox = 'dimahkiin';
    const styleID =  'ck4cdgi7h0u7b1colbr1y3sbk';
    const apiToken = 'pk.eyJ1IjoiZGltYWhraWluIiwiYSI6ImNqZmNqYWV3bjJxM2IzNG52M3cwNG9sbTEifQ.hBZWN6asfRuTVSKV6Ut1Bw';
    const width = document.body.offsetWidth > 1280 ? 1280 : document.body.offsetWidth;
    const height = document.body.offsetHeight > 1280 ? 1280 : document.body.offsetHeight;
    this.src = `https://api.mapbox.com/styles/v1/${usernameMapbox}/${styleID}/static/${pos.center[0]},${pos.center[1]},${pos.zoom},${pos.bearing},${pos.pitch}/${width}x${height}?access_token=${apiToken}`;
  },

  computed: {
    defaultPos() {
      return this.$store.state.user.defaultPos;
    }
  },
  methods:{
    ...mapActions({
      auth: 'user/auth'
    }),

    async authorize() {
      this.errormsg = '';
      this.errorSubmit = true;
      const result = await this.auth({
        username: this.uname,
        password: this.password
      })
      if (result) {
        this.errormsg = result;
        this.errorSubmit = false;
      }
      else {
        this.$router.push('/');
      }
    },

    async ShowPassw() {
      this.showPass = !this.showPass;
    },

    loginKeypress(e) {
      if (e.key === "Enter") {
        e.preventDefault();
        const inputField = document.querySelectorAll('.login2__content_text_input');
        inputField[1].focus();
      }
    },

    passwordKeypress(e) {
      if (e.key === "Enter") {
        e.preventDefault();
        this.authorize();
      }
    },

  }

};
</script>

<style lang="scss">
  body {
    margin: 0;
  }

  .ShowPButton {
    position: absolute;
    margin: -28px 0px 0px 0px;
    color: black;
    right: 75px;
  }

  .login2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__background {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(4px);
      width: 100%;
      height: 100%;
    }

    &__block {
      width: 444px;
      height: 427px;

      &_had {
        border-radius: 5px 5px 0px 0px;
        // background-image: linear-gradient(90deg, #6d99ff 0%, #3c6cde 100%);
        background: #404555;
        width: 444px;
        height: 45px;
        position: absolute;
      }

    }
    &__icon {
      width: 40px;
      height: 11px;
      font-size: 30px;
      line-height: 87px;
      color: #2a3858;
      font-family: "Etelka Light Pro";
      font-weight: 300;
      margin-left: 25px;
      float: left;
    }
    &__iconLogin {
      float: right;
      right: 33px;
      margin-top: -40px;
      position: absolute;

    }
    &__text {
      width: 250px;
      height: 11px;
      line-height: 50px;
      font-weight: 300;
      font-family: "Etelka Medium Pro";
      font-size: 18px;
      color: #FFFFFF;
      float: left;
      margin-left: 22px;
    }
    &__content {
      width: 444px;
      // min-height: 206px;
      filter: drop-shadow(0 0 0px rgba(60,108,222,0.25));
      background-color: #363B4C;
      margin-top: 45px;
      font-size: 14px !important;
      line-height: 16px !important;
      color: #ffffff;
      font-family: "Etelka Light Pro" !important;
      font-weight: 300 !important;
      border-radius: 0px 0px 5px 5px;

      &_textErr {
        margin-left: 34px;
        height: 0px;
      }
      &__blockInp {
        margin-left: 34px;
      }

      &_text {
        margin-left: 34px;
        padding: 10px 0px 10px 0px;

        &_name {
          float: left;
          width: 80px;
          margin-top: 20px;
        }

        &_input {
          font-size: 14px;
          line-height: 17px;
          outline:none;
          width: 70%;
          // background: transparent;
          border-radius: 2px;
          padding: 8px;
          border: none;
          background-color: white;
          color: black;
          font-size: 14px !important;
          line-height: 16px !important;
          font-family: "Etelka Light Pro" !important;
          font-weight: 300 !important;
        }
        &_submit {
          font-family: "Etelka Light Pro";
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          cursor: pointer;
          color: #FFFFFF;
          width: 97px;
          height: 27px;
          // border-color: #107A9F;
          border: none;
          background-color: #107A9F;
          outline:none;
        }

      }
    }
  }





</style>
