<template>
  <div class="clock noselect">
    <div class="clock__date">
      {{date}} <span class="clock-date__month">{{month}}</span> {{year}}<span class="clock-date__month">г.</span>
    </div>
    <div class="clock__time">
      {{hours}}:{{minutes}}:{{seconds}}
    </div>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex';

  export default {
    computed: {
      show () {
        return this.$store.state.interface.Clock.show;
      },
      clockID () {
        return this.$store.state.interface.Clock.clockID;
      },
      date () {
        return this.$store.state.interface.Clock.date;
      },
      month () {
        return this.$store.state.interface.Clock.month;
      },
      year () {
        return this.$store.state.interface.Clock.year;
      },
      hours () {
        return this.$store.state.interface.Clock.hours;
      },
      minutes () {
        return this.$store.state.interface.Clock.minutes;
      },
      seconds () {
        return this.$store.state.interface.Clock.seconds;
      },
    },

    methods: {
      ...mapMutations({
        changeState: 'interface/CHANGE_STATE'
      }),
      leadZero(str, length) {
        let s = str.toString();
        let sign = "";
        if (s[0] == "-") {
          sign = "-";
          s = s.slice(1);
        }
        while (s.length < length) {
          s = "0" + s;
        }
        return `${sign}${s}`;
      },
      showDigitalClock() {
        this.changeState({component: 'Clock', variable: 'show', data: true});
        this.updateDigitalClock();
        const id = setInterval(this.updateDigitalClock, 10);
        this.changeState({component: 'Clock', variable: 'clockID', data: id});
      },
      hideDigitalClock() {
        clearInterval(this.clockID);
        this.changeState({component: 'Clock', variable: 'clockID', data: null});
        this.changeState({component: 'Clock', variable: 'show', data: false});
      },
      updateDigitalClock() {
        const now = new Date();
        const months = [
          "ЯНВАРЯ",
          "ФЕВРАЛЯ",
          "МАРТА",
          "АПРЕЛЯ",
          "МАЯ",
          "ИЮНЯ",
          "ИЮЛЯ",
          "АВГУСТА",
          "СЕНТЯБРЯ",
          "ОКТЯБРЯ",
          "НОЯБРЯ",
          "ДЕКАБРЯ",
        ]
        this.changeState({component: 'Clock', variable: 'date', data: this.leadZero(now.getDate(), 2)});
        this.changeState({component: 'Clock', variable: 'month', data: months[now.getMonth()]});
        this.changeState({component: 'Clock', variable: 'year', data: this.leadZero(now.getFullYear(), 4)});
        this.changeState({component: 'Clock', variable: 'hours', data: this.leadZero(now.getHours(), 2)});
        this.changeState({component: 'Clock', variable: 'minutes', data: this.leadZero(now.getMinutes(), 2)});
        this.changeState({component: 'Clock', variable: 'seconds', data: this.leadZero(now.getSeconds(), 2)});
      }
    },

    mounted() {
      if (this.show) {
        this.updateDigitalClock();
        const id = setInterval(this.updateDigitalClock, 10)
        this.changeState({component: 'Clock', variable: 'clockID', data: id});
      }
      this.$nuxt.$on('Interface-showDigitalClock', this.showDigitalClock);
      this.$nuxt.$on('Interface-hideDigitalClock', this.hideDigitalClock);
    },

    beforeDestroy() {
      this.$nuxt.$off('Interface-showDigitalClock', this.showDigitalClock);
      this.$nuxt.$off('Interface-hideDigitalClock', this.hideDigitalClock);
      clearInterval(this.clockID);
    }
  }
</script>

<style lang="scss">
@import '~/assets/css/variables';

.desktop {
  .clock {
    text-align: center;
    margin-right: 35px;
    margin-bottom: 53px;
    color: $digitalClock-fontColor;
  }
  .clock__date {
    font-size: 53px;
    height: 45px;
    line-height: 50px;
    font-family: "Etelka Light Pro";
    text-align: right;
    margin-bottom: 9px;
    text-shadow: 2px 2px 0 $digitalClock-fontShadowColor;
  }
  .clock-date__month {
    font-size: 28px;
  }
  .clock__time {
    text-shadow: 2px 2px 0 $digitalClock-fontShadowColor;
    height: 90px;
    font-size: 114px;
    line-height: 100px;
    font-family: 'Etelka Text Pro';
  }
}
</style>